<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sy.mappdao.BeOrderliteMapper" >
  <resultMap id="BaseResultMap" type="com.sy.entity.BeOrderlite" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_type" property="orderType" jdbcType="INTEGER" />
    <result column="datee" property="datee" jdbcType="TIMESTAMP" />
    <result column="emp_id" property="empId" jdbcType="INTEGER" />
    <result column="user_no" property="userNo" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, order_type, datee, emp_id, user_no, user_name, description
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sy.entity.BeOrderliteExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from be_orderlite
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from be_orderlite
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from be_orderlite
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sy.entity.BeOrderliteExample" >
    delete from be_orderlite
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sy.entity.BeOrderlite" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into be_orderlite (order_type, datee, emp_id, 
      user_no, user_name, description
      )
    values (#{orderType,jdbcType=INTEGER}, #{datee,jdbcType=TIMESTAMP}, #{empId,jdbcType=INTEGER}, 
      #{userNo,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sy.entity.BeOrderlite" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into be_orderlite
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderType != null" >
        order_type,
      </if>
      <if test="datee != null" >
        datee,
      </if>
      <if test="empId != null" >
        emp_id,
      </if>
      <if test="userNo != null" >
        user_no,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderType != null" >
        #{orderType,jdbcType=INTEGER},
      </if>
      <if test="datee != null" >
        #{datee,jdbcType=TIMESTAMP},
      </if>
      <if test="empId != null" >
        #{empId,jdbcType=INTEGER},
      </if>
      <if test="userNo != null" >
        #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sy.entity.BeOrderliteExample" resultType="java.lang.Integer" >
    select count(*) from be_orderlite
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update be_orderlite
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.orderType != null" >
        order_type = #{record.orderType,jdbcType=INTEGER},
      </if>
      <if test="record.datee != null" >
        datee = #{record.datee,jdbcType=TIMESTAMP},
      </if>
      <if test="record.empId != null" >
        emp_id = #{record.empId,jdbcType=INTEGER},
      </if>
      <if test="record.userNo != null" >
        user_no = #{record.userNo,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null" >
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update be_orderlite
    set id = #{record.id,jdbcType=INTEGER},
      order_type = #{record.orderType,jdbcType=INTEGER},
      datee = #{record.datee,jdbcType=TIMESTAMP},
      emp_id = #{record.empId,jdbcType=INTEGER},
      user_no = #{record.userNo,jdbcType=VARCHAR},
      user_name = #{record.userName,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sy.entity.BeOrderlite" >
    update be_orderlite
    <set >
      <if test="orderType != null" >
        order_type = #{orderType,jdbcType=INTEGER},
      </if>
      <if test="datee != null" >
        datee = #{datee,jdbcType=TIMESTAMP},
      </if>
      <if test="empId != null" >
        emp_id = #{empId,jdbcType=INTEGER},
      </if>
      <if test="userNo != null" >
        user_no = #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sy.entity.BeOrderlite" >
    update be_orderlite
    set order_type = #{orderType,jdbcType=INTEGER},
      datee = #{datee,jdbcType=TIMESTAMP},
      emp_id = #{empId,jdbcType=INTEGER},
      user_no = #{userNo,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!--*******************************************************
  		@author 卿建锋       定义快捷操作记录SQL
    *********************************************************-->
    <!-- 快捷操作记录查询 -->
  <select id="queryEmpsByParemter" 
    	parameterType="com.sy.entity.userhelp.OrderLite" resultMap="BaseResultMap">
    		select order_type, datee, emp_id, user_no, user_name, description
    			from be_orderlite
    		<where>
    				<if test="orderType != null">
    					order_type=#{orderType}
    				</if> 
    				<if test="empNo != null">
    					and emp_id=#{empNo}
    				</if>
      				<if test="stratTime != null">
      					and	datee<![CDATA[>]]>=#{stratTime}
      				</if>
      				<if test="stopTime != null">
      					and	datee<![CDATA[<]]>=#{stopTime}
      				</if>
    		</where>
    		limit #{page.pageNumber},#{page.pageSize}
    </select> 
    
    <select id="queryOrderLiteCount" 
   		 parameterType="com.sy.entity.userhelp.OrderLite" resultType="java.lang.Integer">
   		 select count(*) from be_orderlite
   		 	<where>
    				<if test="orderType != null">
    					order_type=#{orderType}
    				</if> 
    				<if test="empNo != null">
    					and emp_id=#{empNo}
    				</if>
      				<if test="stratTime != null">
      					and	datee<![CDATA[>]]>=#{stratTime}
      				</if>
      				<if test="stopTime != null">
      					and	datee<![CDATA[<]]>=#{stopTime}
      				</if>
    		</where>
    </select>
</mapper>