<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sy.mappdao.IvArchiveMapper" >
  <resultMap id="BaseResultMap" type="com.sy.entity.IvArchive" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="emp_id" property="empId" jdbcType="INTEGER" />
    <result column="in_id" property="inId" jdbcType="INTEGER" />
    <result column="start_no" property="startNo" jdbcType="VARCHAR" />
    <result column="end_no" property="endNo" jdbcType="VARCHAR" />
    <result column="counts" property="counts" jdbcType="INTEGER" />
    <result column="archive_date" property="archiveDate" jdbcType="TIMESTAMP" />
    <result column="archive_emp_id" property="archiveEmpId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, emp_id, in_id, start_no, end_no, counts, archive_date, archive_emp_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sy.entity.IvArchiveExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from iv_archive
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from iv_archive
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from iv_archive
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sy.entity.IvArchiveExample" >
    delete from iv_archive
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sy.entity.IvArchive" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into iv_archive (emp_id, in_id, start_no, 
      end_no, counts, archive_date, 
      archive_emp_id)
    values (#{empId,jdbcType=INTEGER}, #{inId,jdbcType=INTEGER}, #{startNo,jdbcType=VARCHAR}, 
      #{endNo,jdbcType=VARCHAR}, #{counts,jdbcType=INTEGER}, #{archiveDate,jdbcType=TIMESTAMP}, 
      #{archiveEmpId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.sy.entity.IvArchive" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into iv_archive
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="empId != null" >
        emp_id,
      </if>
      <if test="inId != null" >
        in_id,
      </if>
      <if test="startNo != null" >
        start_no,
      </if>
      <if test="endNo != null" >
        end_no,
      </if>
      <if test="counts != null" >
        counts,
      </if>
      <if test="archiveDate != null" >
        archive_date,
      </if>
      <if test="archiveEmpId != null" >
        archive_emp_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="empId != null" >
        #{empId,jdbcType=INTEGER},
      </if>
      <if test="inId != null" >
        #{inId,jdbcType=INTEGER},
      </if>
      <if test="startNo != null" >
        #{startNo,jdbcType=VARCHAR},
      </if>
      <if test="endNo != null" >
        #{endNo,jdbcType=VARCHAR},
      </if>
      <if test="counts != null" >
        #{counts,jdbcType=INTEGER},
      </if>
      <if test="archiveDate != null" >
        #{archiveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="archiveEmpId != null" >
        #{archiveEmpId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sy.entity.IvArchiveExample" resultType="java.lang.Integer" >
    select count(*) from iv_archive
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update iv_archive
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.empId != null" >
        emp_id = #{record.empId,jdbcType=INTEGER},
      </if>
      <if test="record.inId != null" >
        in_id = #{record.inId,jdbcType=INTEGER},
      </if>
      <if test="record.startNo != null" >
        start_no = #{record.startNo,jdbcType=VARCHAR},
      </if>
      <if test="record.endNo != null" >
        end_no = #{record.endNo,jdbcType=VARCHAR},
      </if>
      <if test="record.counts != null" >
        counts = #{record.counts,jdbcType=INTEGER},
      </if>
      <if test="record.archiveDate != null" >
        archive_date = #{record.archiveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.archiveEmpId != null" >
        archive_emp_id = #{record.archiveEmpId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update iv_archive
    set id = #{record.id,jdbcType=INTEGER},
      emp_id = #{record.empId,jdbcType=INTEGER},
      in_id = #{record.inId,jdbcType=INTEGER},
      start_no = #{record.startNo,jdbcType=VARCHAR},
      end_no = #{record.endNo,jdbcType=VARCHAR},
      counts = #{record.counts,jdbcType=INTEGER},
      archive_date = #{record.archiveDate,jdbcType=TIMESTAMP},
      archive_emp_id = #{record.archiveEmpId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sy.entity.IvArchive" >
    update iv_archive
    <set >
      <if test="empId != null" >
        emp_id = #{empId,jdbcType=INTEGER},
      </if>
      <if test="inId != null" >
        in_id = #{inId,jdbcType=INTEGER},
      </if>
      <if test="startNo != null" >
        start_no = #{startNo,jdbcType=VARCHAR},
      </if>
      <if test="endNo != null" >
        end_no = #{endNo,jdbcType=VARCHAR},
      </if>
      <if test="counts != null" >
        counts = #{counts,jdbcType=INTEGER},
      </if>
      <if test="archiveDate != null" >
        archive_date = #{archiveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="archiveEmpId != null" >
        archive_emp_id = #{archiveEmpId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sy.entity.IvArchive" >
    update iv_archive
    set emp_id = #{empId,jdbcType=INTEGER},
      in_id = #{inId,jdbcType=INTEGER},
      start_no = #{startNo,jdbcType=VARCHAR},
      end_no = #{endNo,jdbcType=VARCHAR},
      counts = #{counts,jdbcType=INTEGER},
      archive_date = #{archiveDate,jdbcType=TIMESTAMP},
      archive_emp_id = #{archiveEmpId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
    <!-- 发票管理:发票交票情况查询 -->
  <select id="selIvArchiveCount" resultType="com.sy.integration.iv.ArchiveReturnClass" parameterType="int">
  		<![CDATA[
  	select 
	ia.id 'id',
    ia.start_no 'startNo',
    ia.end_no 'endNo',
    ia.counts 'counts',
    (select count(*) from iv_invoice ii where ii.invoice_no>=ia.start_no and ii.invoice_no<=ia.end_no and used=1) 'ivUsed',
    (select count(*) from iv_invoice ii where ii.invoice_no>=ia.start_no and ii.invoice_no<=ia.end_no and invalid=1) 'ivInvalid',
	ia.archive_date 'date',
    (select sy.emp_name from sy_emp sy where ia.archive_emp_id= sy.emp_id) 'sEmpName',
    (select sy.emp_name from sy_emp sy where ia.emp_id= sy.emp_id) 'jEmpName'
   from iv_archive ia
   limit #{page},5
   ]]>
  </select>
  
  <!-- 发票管理：发票交票情况总条数查询 -->
	<select id="selArchiveCount" resultType="Integer">
		select count(*) from iv_archive
	</select>
</mapper>