<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sy.mappdao.IvOutinvoiceMapper" >
  <resultMap id="BaseResultMap" type="com.sy.entity.IvOutinvoice" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="emp_id" property="empId" jdbcType="INTEGER" />
    <result column="in_id" property="inId" jdbcType="INTEGER" />
    <result column="start_no" property="startNo" jdbcType="VARCHAR" />
    <result column="end_no" property="endNo" jdbcType="VARCHAR" />
    <result column="counts" property="counts" jdbcType="INTEGER" />
    <result column="out_date" property="outDate" jdbcType="TIMESTAMP" />
    <result column="out_emp_id" property="outEmpId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, emp_id, in_id, start_no, end_no, counts, out_date, out_emp_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sy.entity.IvOutinvoiceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from iv_outinvoice
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from iv_outinvoice
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from iv_outinvoice
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sy.entity.IvOutinvoiceExample" >
    delete from iv_outinvoice
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sy.entity.IvOutinvoice" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into iv_outinvoice (emp_id, in_id, start_no, 
      end_no, counts, out_date, 
      out_emp_id)
    values (#{empId,jdbcType=INTEGER}, #{inId,jdbcType=INTEGER}, #{startNo,jdbcType=VARCHAR}, 
      #{endNo,jdbcType=VARCHAR}, #{counts,jdbcType=INTEGER}, #{outDate,jdbcType=TIMESTAMP}, 
      #{outEmpId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.sy.entity.IvOutinvoice" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into iv_outinvoice
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="empId != null" >
        emp_id,
      </if>
      <if test="inId != null" >
        in_id,
      </if>
      <if test="startNo != null" >
        start_no,
      </if>
      <if test="endNo != null" >
        end_no,
      </if>
      <if test="counts != null" >
        counts,
      </if>
      <if test="outDate != null" >
        out_date,
      </if>
      <if test="outEmpId != null" >
        out_emp_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="empId != null" >
        #{empId,jdbcType=INTEGER},
      </if>
      <if test="inId != null" >
        #{inId,jdbcType=INTEGER},
      </if>
      <if test="startNo != null" >
        #{startNo,jdbcType=VARCHAR},
      </if>
      <if test="endNo != null" >
        #{endNo,jdbcType=VARCHAR},
      </if>
      <if test="counts != null" >
        #{counts,jdbcType=INTEGER},
      </if>
      <if test="outDate != null" >
        #{outDate,jdbcType=TIMESTAMP},
      </if>
      <if test="outEmpId != null" >
        #{outEmpId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sy.entity.IvOutinvoiceExample" resultType="java.lang.Integer" >
    select count(*) from iv_outinvoice
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update iv_outinvoice
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.empId != null" >
        emp_id = #{record.empId,jdbcType=INTEGER},
      </if>
      <if test="record.inId != null" >
        in_id = #{record.inId,jdbcType=INTEGER},
      </if>
      <if test="record.startNo != null" >
        start_no = #{record.startNo,jdbcType=VARCHAR},
      </if>
      <if test="record.endNo != null" >
        end_no = #{record.endNo,jdbcType=VARCHAR},
      </if>
      <if test="record.counts != null" >
        counts = #{record.counts,jdbcType=INTEGER},
      </if>
      <if test="record.outDate != null" >
        out_date = #{record.outDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.outEmpId != null" >
        out_emp_id = #{record.outEmpId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update iv_outinvoice
    set id = #{record.id,jdbcType=INTEGER},
      emp_id = #{record.empId,jdbcType=INTEGER},
      in_id = #{record.inId,jdbcType=INTEGER},
      start_no = #{record.startNo,jdbcType=VARCHAR},
      end_no = #{record.endNo,jdbcType=VARCHAR},
      counts = #{record.counts,jdbcType=INTEGER},
      out_date = #{record.outDate,jdbcType=TIMESTAMP},
      out_emp_id = #{record.outEmpId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sy.entity.IvOutinvoice" >
    update iv_outinvoice
    <set >
      <if test="empId != null" >
        emp_id = #{empId,jdbcType=INTEGER},
      </if>
      <if test="inId != null" >
        in_id = #{inId,jdbcType=INTEGER},
      </if>
      <if test="startNo != null" >
        start_no = #{startNo,jdbcType=VARCHAR},
      </if>
      <if test="endNo != null" >
        end_no = #{endNo,jdbcType=VARCHAR},
      </if>
      <if test="counts != null" >
        counts = #{counts,jdbcType=INTEGER},
      </if>
      <if test="outDate != null" >
        out_date = #{outDate,jdbcType=TIMESTAMP},
      </if>
      <if test="outEmpId != null" >
        out_emp_id = #{outEmpId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sy.entity.IvOutinvoice" >
    update iv_outinvoice
    set emp_id = #{empId,jdbcType=INTEGER},
      in_id = #{inId,jdbcType=INTEGER},
      start_no = #{startNo,jdbcType=VARCHAR},
      end_no = #{endNo,jdbcType=VARCHAR},
      counts = #{counts,jdbcType=INTEGER},
      out_date = #{outDate,jdbcType=TIMESTAMP},
      out_emp_id = #{outEmpId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  <!-- 发票管理：发票出库情况查询 -->
	<select id="selectAll" resultType="com.sy.integration.iv.OutReturnClass" parameterType="Integer">
  <![CDATA[
  	select 
  		o.id 'id',
  		o.start_no 'startNo',
  		o.end_no 'endNo',
  		counts,
		(select count(*) from iv_invoice i where used=1 and i.invoice_no>=o.start_no and i.invoice_no<=o.end_no) 'usedCount'
        ,(select count(*) from iv_invoice i where invalid=1 and i.invoice_no>=o.start_no and i.invoice_no<=o.end_no) 'invalidCount'
        ,(select count(*) from iv_invoice i where archived=1 and i.invoice_no>=o.start_no and i.invoice_no<=o.end_no) 'archivedCount'
        ,(select count(*) from iv_invoice i where used=0 and invalid=0 and i.invoice_no>=o.start_no and i.invoice_no<=o.end_no) 'notUsedCount'
        ,(select count(*) from iv_invoice i where archived=0 and i.invoice_no>=o.start_no and i.invoice_no<=o.end_no) 'notArchivedCount',
        o.out_date 'outDate',
        (select emp_name from sy_emp se where se.emp_id=o.out_emp_id) 'outName',
        (select emp_name from sy_emp se where se.emp_id=o.emp_id) 'yongName'
        from iv_outInvoice o,sy_emp,iv_invoice where o.emp_id=sy_emp.emp_id and o.start_no=iv_invoice.invoice_no
        limit #{page},10
        ]]>
	</select>

<!-- 发票管理：发票出库情况总条数查询 -->
	<select id="selOutCount" resultType="Integer">
		select count(*) from iv_outInvoice
	</select>
</mapper>