<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sy.mappdao.RdChangevalueMapper" >
  <resultMap id="BaseResultMap" type="com.sy.entity.RdChangevalue" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="datee" property="datee" jdbcType="TIMESTAMP" />
    <result column="emp_id" property="empId" jdbcType="INTEGER" />
    <result column="user_no" property="userNo" jdbcType="VARCHAR" />
    <result column="pre_value1" property="preValue1" jdbcType="INTEGER" />
    <result column="pre_value2" property="preValue2" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="BaseResultMap1" type="com.sy.entity.RdChangevalue" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="datee" property="datee" jdbcType="TIMESTAMP" />
    <result column="emp_id" property="empId" jdbcType="INTEGER" />
    <result column="user_no" property="userNo" jdbcType="VARCHAR" />
    <result column="pre_value1" property="preValue1" jdbcType="INTEGER" />
    <result column="pre_value2" property="preValue2" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <association property="emp" column="emp_id"
    	resultMap="com.sy.mappdao.SyEmpMapper.BaseResultMap"></association>
    <association property="user" column="user_no"
    	resultMap="com.sy.mappdao.UsUserMapper.BaseResultMap"></association>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, datee, emp_id, user_no, pre_value1, pre_value2, remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sy.entity.RdChangevalueExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from rd_changevalue
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from rd_changevalue
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from rd_changevalue
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sy.entity.RdChangevalueExample" >
    delete from rd_changevalue
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sy.entity.RdChangevalue" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into rd_changevalue (datee, emp_id, user_no, 
      pre_value1, pre_value2, remark
      )
    values (#{datee,jdbcType=TIMESTAMP}, #{empId,jdbcType=INTEGER}, #{userNo,jdbcType=VARCHAR}, 
      #{preValue1,jdbcType=INTEGER}, #{preValue2,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sy.entity.RdChangevalue" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into rd_changevalue
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="datee != null" >
        datee,
      </if>
      <if test="empId != null" >
        emp_id,
      </if>
      <if test="userNo != null" >
        user_no,
      </if>
      <if test="preValue1 != null" >
        pre_value1,
      </if>
      <if test="preValue2 != null" >
        pre_value2,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="datee != null" >
        #{datee,jdbcType=TIMESTAMP},
      </if>
      <if test="empId != null" >
        #{empId,jdbcType=INTEGER},
      </if>
      <if test="userNo != null" >
        #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="preValue1 != null" >
        #{preValue1,jdbcType=INTEGER},
      </if>
      <if test="preValue2 != null" >
        #{preValue2,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sy.entity.RdChangevalueExample" resultType="java.lang.Integer" >
    select count(*) from rd_changevalue
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update rd_changevalue
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.datee != null" >
        datee = #{record.datee,jdbcType=TIMESTAMP},
      </if>
      <if test="record.empId != null" >
        emp_id = #{record.empId,jdbcType=INTEGER},
      </if>
      <if test="record.userNo != null" >
        user_no = #{record.userNo,jdbcType=VARCHAR},
      </if>
      <if test="record.preValue1 != null" >
        pre_value1 = #{record.preValue1,jdbcType=INTEGER},
      </if>
      <if test="record.preValue2 != null" >
        pre_value2 = #{record.preValue2,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update rd_changevalue
    set id = #{record.id,jdbcType=INTEGER},
      datee = #{record.datee,jdbcType=TIMESTAMP},
      emp_id = #{record.empId,jdbcType=INTEGER},
      user_no = #{record.userNo,jdbcType=VARCHAR},
      pre_value1 = #{record.preValue1,jdbcType=INTEGER},
      pre_value2 = #{record.preValue2,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sy.entity.RdChangevalue" >
    update rd_changevalue
    <set >
      <if test="datee != null" >
        datee = #{datee,jdbcType=TIMESTAMP},
      </if>
      <if test="empId != null" >
        emp_id = #{empId,jdbcType=INTEGER},
      </if>
      <if test="userNo != null" >
        user_no = #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="preValue1 != null" >
        pre_value1 = #{preValue1,jdbcType=INTEGER},
      </if>
      <if test="preValue2 != null" >
        pre_value2 = #{preValue2,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sy.entity.RdChangevalue" >
    update rd_changevalue
    set datee = #{datee,jdbcType=TIMESTAMP},
      emp_id = #{empId,jdbcType=INTEGER},
      user_no = #{userNo,jdbcType=VARCHAR},
      pre_value1 = #{preValue1,jdbcType=INTEGER},
      pre_value2 = #{preValue2,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
   <select id="selByTerm" resultMap="BaseResultMap1" parameterType="map" >
  	select a.*,b.*,c.* from rd_changevalue a 
  	inner join sy_emp b 
  	on a.emp_id=b.emp_id 
  	inner join us_user c
  	on a.user_no=c.user_no
  	where 1=1
  	<if test="chang.empId !=0 ">
  		and a.emp_id=#{chang.empId}
  	</if>
  	<if test="term.startTime != null and term.startTime !='' and term.endTime !=null and term.endTime !='' ">
		and a.datee between #{term.startTime} and #{term.endTime}
	</if>
	limit #{term.startIndex},#{term.rows}
  </select>
  
  <select id="selByTermCount" resultType="int" parameterType="map" >
  	select count(*) from rd_changevalue a 
  	inner join sy_emp b 
  	on a.emp_id=b.emp_id 
  	inner join us_user c
  	on a.user_no=c.user_no
  	where 1=1
  	<if test="chang.empId !=0 ">
  		and a.emp_id=#{chang.empId}
  	</if>
  	<if test="term.startTime != null and term.startTime !='' and term.endTime !=null and term.endTime !='' ">
		and a.datee between #{term.startTime} and #{term.endTime}
	</if>
  </select>
</mapper>