<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sy.mappdao.RdReadtypesMapper" >
  <resultMap id="BaseResultMap" type="com.sy.entity.RdReadtypes" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="read_id" property="readId" jdbcType="INTEGER" />
    <result column="user_no" property="userNo" jdbcType="VARCHAR" />
    <result column="water_type_code" property="waterTypeCode" jdbcType="VARCHAR" />
    <result column="allot_text" property="allotText" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="BaseResultMap1" type="com.sy.entity.RdReadtypes" >
    <id column="readtypeId" property="id" jdbcType="INTEGER" />
    <result column="read_id" property="readId" jdbcType="INTEGER" />
    <result column="user_no" property="userNo" jdbcType="VARCHAR" />
    <result column="water_type_code" property="waterTypeCode" jdbcType="VARCHAR" />
    <result column="allot_text" property="allotText" jdbcType="VARCHAR" />
    <result column="typeAmount" property="amount" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, read_id, user_no, water_type_code, allot_text, amount
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sy.entity.RdReadtypesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from rd_readtypes
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from rd_readtypes
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from rd_readtypes
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sy.entity.RdReadtypesExample" >
    delete from rd_readtypes
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sy.entity.RdReadtypes" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into rd_readtypes (read_id, user_no, water_type_code, 
      allot_text, amount)
    values (#{readId,jdbcType=INTEGER}, #{userNo,jdbcType=VARCHAR}, #{waterTypeCode,jdbcType=VARCHAR}, 
      #{allotText,jdbcType=VARCHAR}, #{amount,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.sy.entity.RdReadtypes" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into rd_readtypes
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="readId != null" >
        read_id,
      </if>
      <if test="userNo != null" >
        user_no,
      </if>
      <if test="waterTypeCode != null" >
        water_type_code,
      </if>
      <if test="allotText != null" >
        allot_text,
      </if>
      <if test="amount != null" >
        amount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="readId != null" >
        #{readId,jdbcType=INTEGER},
      </if>
      <if test="userNo != null" >
        #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="waterTypeCode != null" >
        #{waterTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="allotText != null" >
        #{allotText,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sy.entity.RdReadtypesExample" resultType="java.lang.Integer" >
    select count(*) from rd_readtypes
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update rd_readtypes
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.readId != null" >
        read_id = #{record.readId,jdbcType=INTEGER},
      </if>
      <if test="record.userNo != null" >
        user_no = #{record.userNo,jdbcType=VARCHAR},
      </if>
      <if test="record.waterTypeCode != null" >
        water_type_code = #{record.waterTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="record.allotText != null" >
        allot_text = #{record.allotText,jdbcType=VARCHAR},
      </if>
      <if test="record.amount != null" >
        amount = #{record.amount,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update rd_readtypes
    set id = #{record.id,jdbcType=INTEGER},
      read_id = #{record.readId,jdbcType=INTEGER},
      user_no = #{record.userNo,jdbcType=VARCHAR},
      water_type_code = #{record.waterTypeCode,jdbcType=VARCHAR},
      allot_text = #{record.allotText,jdbcType=VARCHAR},
      amount = #{record.amount,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sy.entity.RdReadtypes" >
    update rd_readtypes
    <set >
      <if test="readId != null" >
        read_id = #{readId,jdbcType=INTEGER},
      </if>
      <if test="userNo != null" >
        user_no = #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="waterTypeCode != null" >
        water_type_code = #{waterTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="allotText != null" >
        allot_text = #{allotText,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sy.entity.RdReadtypes" >
    update rd_readtypes
    set read_id = #{readId,jdbcType=INTEGER},
      user_no = #{userNo,jdbcType=VARCHAR},
      water_type_code = #{waterTypeCode,jdbcType=VARCHAR},
      allot_text = #{allotText,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>