<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sy.mappdao.PyPayMapper" >
  <resultMap id="BaseResultMap" type="com.sy.entity.PyPay" >
    <id column="pay_no" property="payNo" jdbcType="VARCHAR" />
    <result column="user_no" property="userNo" jdbcType="VARCHAR" />
    <result column="pay_type" property="payType" jdbcType="VARCHAR" />
    <result column="pay_date" property="payDate" jdbcType="TIMESTAMP" />
    <result column="invoice" property="invoice" jdbcType="VARCHAR" />
    <result column="pay_money" property="payMoney" jdbcType="DECIMAL" />
    <result column="use_money" property="useMoney" jdbcType="DECIMAL" />
    <result column="emp_id" property="empId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    pay_no, user_no, pay_type, pay_date, invoice, pay_money, use_money, emp_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sy.entity.PyPayExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from py_pay
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from py_pay
    where pay_no = #{payNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from py_pay
    where pay_no = #{payNo,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.sy.entity.PyPayExample" >
    delete from py_pay
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sy.entity.PyPay" >
    insert into py_pay (pay_no, user_no, pay_type, 
      pay_date, invoice, pay_money, 
      use_money, emp_id)
    values (#{payNo,jdbcType=VARCHAR}, #{userNo,jdbcType=VARCHAR}, #{payType,jdbcType=VARCHAR}, 
      #{payDate,jdbcType=TIMESTAMP}, #{invoice,jdbcType=VARCHAR}, #{payMoney,jdbcType=DECIMAL}, 
      #{useMoney,jdbcType=DECIMAL}, #{empId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.sy.entity.PyPay" >
    insert into py_pay
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="payNo != null" >
        pay_no,
      </if>
      <if test="userNo != null" >
        user_no,
      </if>
      <if test="payType != null" >
        pay_type,
      </if>
      <if test="payDate != null" >
        pay_date,
      </if>
      <if test="invoice != null" >
        invoice,
      </if>
      <if test="payMoney != null" >
        pay_money,
      </if>
      <if test="useMoney != null" >
        use_money,
      </if>
      <if test="empId != null" >
        emp_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="payNo != null" >
        #{payNo,jdbcType=VARCHAR},
      </if>
      <if test="userNo != null" >
        #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="payType != null" >
        #{payType,jdbcType=VARCHAR},
      </if>
      <if test="payDate != null" >
        #{payDate,jdbcType=TIMESTAMP},
      </if>
      <if test="invoice != null" >
        #{invoice,jdbcType=VARCHAR},
      </if>
      <if test="payMoney != null" >
        #{payMoney,jdbcType=DECIMAL},
      </if>
      <if test="useMoney != null" >
        #{useMoney,jdbcType=DECIMAL},
      </if>
      <if test="empId != null" >
        #{empId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sy.entity.PyPayExample" resultType="java.lang.Integer" >
    select count(*) from py_pay
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update py_pay
    <set >
      <if test="record.payNo != null" >
        pay_no = #{record.payNo,jdbcType=VARCHAR},
      </if>
      <if test="record.userNo != null" >
        user_no = #{record.userNo,jdbcType=VARCHAR},
      </if>
      <if test="record.payType != null" >
        pay_type = #{record.payType,jdbcType=VARCHAR},
      </if>
      <if test="record.payDate != null" >
        pay_date = #{record.payDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.invoice != null" >
        invoice = #{record.invoice,jdbcType=VARCHAR},
      </if>
      <if test="record.payMoney != null" >
        pay_money = #{record.payMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.useMoney != null" >
        use_money = #{record.useMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.empId != null" >
        emp_id = #{record.empId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update py_pay
    set pay_no = #{record.payNo,jdbcType=VARCHAR},
      user_no = #{record.userNo,jdbcType=VARCHAR},
      pay_type = #{record.payType,jdbcType=VARCHAR},
      pay_date = #{record.payDate,jdbcType=TIMESTAMP},
      invoice = #{record.invoice,jdbcType=VARCHAR},
      pay_money = #{record.payMoney,jdbcType=DECIMAL},
      use_money = #{record.useMoney,jdbcType=DECIMAL},
      emp_id = #{record.empId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sy.entity.PyPay" >
    update py_pay
    <set >
      <if test="userNo != null" >
        user_no = #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="payType != null" >
        pay_type = #{payType,jdbcType=VARCHAR},
      </if>
      <if test="payDate != null" >
        pay_date = #{payDate,jdbcType=TIMESTAMP},
      </if>
      <if test="invoice != null" >
        invoice = #{invoice,jdbcType=VARCHAR},
      </if>
      <if test="payMoney != null" >
        pay_money = #{payMoney,jdbcType=DECIMAL},
      </if>
      <if test="useMoney != null" >
        use_money = #{useMoney,jdbcType=DECIMAL},
      </if>
      <if test="empId != null" >
        emp_id = #{empId,jdbcType=INTEGER},
      </if>
    </set>
    where pay_no = #{payNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sy.entity.PyPay" >
    update py_pay
    set user_no = #{userNo,jdbcType=VARCHAR},
      pay_type = #{payType,jdbcType=VARCHAR},
      pay_date = #{payDate,jdbcType=TIMESTAMP},
      invoice = #{invoice,jdbcType=VARCHAR},
      pay_money = #{payMoney,jdbcType=DECIMAL},
      use_money = #{useMoney,jdbcType=DECIMAL},
      emp_id = #{empId,jdbcType=INTEGER}
    where pay_no = #{payNo,jdbcType=VARCHAR}
  </update>
  
  
  <!-- 自定义查询语句 -->
  <select id="selectByWhereStrPage" parameterType="map" resultMap="BaseResultMap">
	SELECT  * FROM sy.py_pay
	<where>
	    <if test="whereStr != null">
	        ${whereStr}
	    </if>
	</where>      
	limit #{start},#{page}
  </select>
  
    <resultMap id="BaseResultMap1" type="com.sy.entity.PyPay" >
    <id column="pay_no" property="payNo" jdbcType="VARCHAR" />
    <result column="user_no" property="userNo" jdbcType="VARCHAR" />
    <result column="pay_type" property="payType" jdbcType="VARCHAR" />
    <result column="pay_date" property="payDate" jdbcType="TIMESTAMP" />
    <result column="invoice" property="invoice" jdbcType="VARCHAR" />
    <result column="pay_money" property="payMoney" jdbcType="DECIMAL" />
    <result column="use_money" property="useMoney" jdbcType="DECIMAL" />
    <result column="emp_id" property="empId" jdbcType="INTEGER" />
	 <association property="emp"  resultMap="com.sy.mappdao.SyEmpMapper.BaseResultMap"></association>
  </resultMap>
  <select id="selPayHistoryWhereStrPage" parameterType="map" resultMap="BaseResultMap1">
	SELECT  pay.*,emp.* FROM sy.py_pay pay ,sy_emp emp
	<where>
	    <if test="whereStr != null">
	        ${whereStr}
	    </if>
	</where>      
	limit #{start},#{page}
  </select>
  
  
  
</mapper>