<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sy.mappdao.UsMeterMapper" >
  <resultMap id="BaseResultMap" type="com.sy.entity.UsMeter" >
    <id column="meter_no" property="meterNo" jdbcType="VARCHAR" />
    <result column="user_no" property="userNo" jdbcType="VARCHAR" />
    <result column="meter_name" property="meterName" jdbcType="VARCHAR" />
    <result column="meter_type_id" property="meterTypeId" jdbcType="INTEGER" />
    <result column="max_value" property="maxValue" jdbcType="INTEGER" />
    <result column="start_value" property="startValue" jdbcType="INTEGER" />
    <result column="setup_date" property="setupDate" jdbcType="TIMESTAMP" />
    <result column="factory" property="factory" jdbcType="VARCHAR" />
    <result column="disabled" property="disabled" jdbcType="BIT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    meter_no, user_no, meter_name, meter_type_id, max_value, start_value, setup_date, 
    factory, disabled
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sy.entity.UsMeterExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from us_meter
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from us_meter
    where meter_no = #{meterNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from us_meter
    where meter_no = #{meterNo,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.sy.entity.UsMeterExample" >
    delete from us_meter
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sy.entity.UsMeter" >
    insert into us_meter (meter_no, user_no, meter_name, 
      meter_type_id, max_value, start_value, 
      setup_date, factory, disabled
      )
    values (#{meterNo,jdbcType=VARCHAR}, #{userNo,jdbcType=VARCHAR}, #{meterName,jdbcType=VARCHAR}, 
      #{meterTypeId,jdbcType=INTEGER}, #{maxValue,jdbcType=INTEGER}, #{startValue,jdbcType=INTEGER}, 
      #{setupDate,jdbcType=TIMESTAMP}, #{factory,jdbcType=VARCHAR}, #{disabled,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sy.entity.UsMeter" >
    insert into us_meter
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="meterNo != null" >
        meter_no,
      </if>
      <if test="userNo != null" >
        user_no,
      </if>
      <if test="meterName != null" >
        meter_name,
      </if>
      <if test="meterTypeId != null" >
        meter_type_id,
      </if>
      <if test="maxValue != null" >
        max_value,
      </if>
      <if test="startValue != null" >
        start_value,
      </if>
      <if test="setupDate != null" >
        setup_date,
      </if>
      <if test="factory != null" >
        factory,
      </if>
      <if test="disabled != null" >
        disabled,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="meterNo != null" >
        #{meterNo,jdbcType=VARCHAR},
      </if>
      <if test="userNo != null" >
        #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="meterName != null" >
        #{meterName,jdbcType=VARCHAR},
      </if>
      <if test="meterTypeId != null" >
        #{meterTypeId,jdbcType=INTEGER},
      </if>
      <if test="maxValue != null" >
        #{maxValue,jdbcType=INTEGER},
      </if>
      <if test="startValue != null" >
        #{startValue,jdbcType=INTEGER},
      </if>
      <if test="setupDate != null" >
        #{setupDate,jdbcType=TIMESTAMP},
      </if>
      <if test="factory != null" >
        #{factory,jdbcType=VARCHAR},
      </if>
      <if test="disabled != null" >
        #{disabled,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sy.entity.UsMeterExample" resultType="java.lang.Integer" >
    select count(*) from us_meter
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update us_meter
    <set >
      <if test="record.meterNo != null" >
        meter_no = #{record.meterNo,jdbcType=VARCHAR},
      </if>
      <if test="record.userNo != null" >
        user_no = #{record.userNo,jdbcType=VARCHAR},
      </if>
      <if test="record.meterName != null" >
        meter_name = #{record.meterName,jdbcType=VARCHAR},
      </if>
      <if test="record.meterTypeId != null" >
        meter_type_id = #{record.meterTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.maxValue != null" >
        max_value = #{record.maxValue,jdbcType=INTEGER},
      </if>
      <if test="record.startValue != null" >
        start_value = #{record.startValue,jdbcType=INTEGER},
      </if>
      <if test="record.setupDate != null" >
        setup_date = #{record.setupDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.factory != null" >
        factory = #{record.factory,jdbcType=VARCHAR},
      </if>
      <if test="record.disabled != null" >
        disabled = #{record.disabled,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update us_meter
    set meter_no = #{record.meterNo,jdbcType=VARCHAR},
      user_no = #{record.userNo,jdbcType=VARCHAR},
      meter_name = #{record.meterName,jdbcType=VARCHAR},
      meter_type_id = #{record.meterTypeId,jdbcType=INTEGER},
      max_value = #{record.maxValue,jdbcType=INTEGER},
      start_value = #{record.startValue,jdbcType=INTEGER},
      setup_date = #{record.setupDate,jdbcType=TIMESTAMP},
      factory = #{record.factory,jdbcType=VARCHAR},
      disabled = #{record.disabled,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sy.entity.UsMeter" >
    update us_meter
    <set >
      <if test="userNo != null" >
        user_no = #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="meterName != null" >
        meter_name = #{meterName,jdbcType=VARCHAR},
      </if>
      <if test="meterTypeId != null" >
        meter_type_id = #{meterTypeId,jdbcType=INTEGER},
      </if>
      <if test="maxValue != null" >
        max_value = #{maxValue,jdbcType=INTEGER},
      </if>
      <if test="startValue != null" >
        start_value = #{startValue,jdbcType=INTEGER},
      </if>
      <if test="setupDate != null" >
        setup_date = #{setupDate,jdbcType=TIMESTAMP},
      </if>
      <if test="factory != null" >
        factory = #{factory,jdbcType=VARCHAR},
      </if>
      <if test="disabled != null" >
        disabled = #{disabled,jdbcType=BIT},
      </if>
    </set>
    where meter_no = #{meterNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sy.entity.UsMeter" >
    update us_meter
    set user_no = #{userNo,jdbcType=VARCHAR},
      meter_name = #{meterName,jdbcType=VARCHAR},
      meter_type_id = #{meterTypeId,jdbcType=INTEGER},
      max_value = #{maxValue,jdbcType=INTEGER},
      start_value = #{startValue,jdbcType=INTEGER},
      setup_date = #{setupDate,jdbcType=TIMESTAMP},
      factory = #{factory,jdbcType=VARCHAR},
      disabled = #{disabled,jdbcType=BIT}
    where meter_no = #{meterNo,jdbcType=VARCHAR}
  </update>
</mapper>